
#content, #nolayout {
    font-family: Lucida Grande, sans-serif;
    color: #888;
}

#content a:link, #content a:visited, #nolayout a:link, #nolayout a:visited {
    color: #5267aa !important;
}

#content a:hover, #nolayout a:hover {
    color: #6d81c2 !important;
}

.error, .errors {
    font-weight: bold;
    color: red;
}

ul.errors {
    margin-bottom: 0;
}

ul.errors li {
    margin-bottom: 5px;
    background: none;
    padding-left: 0;
}

#content {
    min-height: 380px;
}

.form {
    overflow: hidden;
    margin-bottom: 15px;
}

.form dt, .form dd {
    float: left;
    line-height: 30px;
}

.form dt {
    clear: left;
    width: 165px;
}

.form dd {
    width: 200px;
}

.form input {
    width: 180px;
    border: 1px solid #ddd;
    padding: 4px 3px;
    margin: 0;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}

fieldset, form {
    margin: 0;
    padding: 0;
}

legend, h2 {
    padding-bottom: 15px;
    color: #505b7d;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

form .submit {
    margin-top: 35px;
}

.form .errors {
    margin: 0 0 5px 0;
    padding: 0;
}

.form .errors li {
    margin: 0;
    padding: 0;
    line-height: 16px;
    font-size: 11px;
    font-weight: bold;

}

.form dt.checkbox {
    width: 0;
}

.form dd.checkbox {
    width: auto;
}

.form dd.checkbox input {
    width: auto;
}

.form .note {
    color: #888;
}

.flash-message {
    font-weight: bold;
    background-color: #fdffbf;
    padding: 2px;
    display: block;
    color: #000;
}

label input {
    margin-right: 7px;
}

#nolayout {
    padding: 10px 20px;
}

#main {
    width: 1000px !important;
}

/* Products main */

#products-main {
    position: relative;
    left: -10px;
}

#products-main section {
    position: relative;
    margin-bottom: 25px;
}

#products-main .description {
    color: #fff;
}

#products-main h3 {
    color: #fff;
    font-style: italic;
    font-size: 24px;
}

#products-main a.select {
    width: 233px;
    height: 63px;
    display: block;
    background: url(/images/sprites/buttons.png) -45px -32px no-repeat;
    text-decoration: none;
    color: #fff !important;
    text-transform: uppercase;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
}

#products-main a.select:hover {
    background-position: -320px -32px;
}

#products-main .subscriptions, #products-main .digital {
    padding: 2px 12px;
    width: 452px;
    height: 476px;
    display: block;
    float: left;
}

#products-main .subscriptions {
    margin-right: 30px;
    background: url(/images/product-types/large/subscriptions.jpg);
}

#products-main .digital {
    background: url(/images/product-types/large/digital.jpg);
}

#products-main .subscriptions h3, #products-main .digital h3 {
    position: absolute;
    top: 33px;
    left: 30px;
}

#products-main .subscriptions .description, #products-main .digital .description {
    position: absolute;
    top: 80px;
    left: 30px;
    width: 120px;
}

#products-main .subscriptions a.select, #products-main .digital a.select {
    position: absolute;
    bottom: -5px;
    left: 30px;
}

#products-main .dvds, #products-main .gifts {
    clear: both;
    width: 994px;
    height: 232px;
}

#products-main .dvds {
    background: url(/images/product-types/large/dvds.jpg);
    margin-bottom: 10px;
}

#products-main .gifts {
    background: url(/images/product-types/large/gifts.jpg);
}


#products-main .dvds h3, #products-main .gifts h3 {
    position: absolute;
    top: 44px;
    left: 30px;
}

#products-main .dvds .description, #products-main .gifts .description {
    position: absolute;
    top: 90px;
    left: 30px;
}

#products-main .dvds a.select, #products-main .gifts a.select {
    position: absolute;
    bottom: 7px;
    left: 30px;
}



/* Cart */

#cart {
    width: 610px;
}

#cart .items {
    margin-bottom: 20px;
}

#cart .no-items {
    margin-bottom: 20px;
}

#cart .item {
    background: none;
    padding: 9px 0 24px 0;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
}

#cart .item.last {
}

#cart .item h4 {
    font-size: 14px;
    color: #505b7d;
    font-weight: bold;
}

#cart .item .links {
    display: inline;
}

#cart .item .links li {
    line-height: 10px;
    display: inline;
    background: none;
    padding: 0;
    margin-right: 5px;
}

#cart .item input {
    width: 40px;
    margin: 0 10px;
}

#cart .item input.readonly {
    opacity: 0.3;

}

#nolayout #cart .items {
    height: 380px;
    /* Allow for scrollbar */
    width: 610px;
    overflow: auto !important;
    max-height: 350px;
    height: auto !important;
    height: 350px;
}

#nolayout #cart .items ul {
    width: 98%;
}

#cart .cart-nav li {
    background: none;
    display: inline;
    padding: 0;
}

#cart .flash-message {
    margin-bottom: 10px;
}

/* User profile */

#profile dt.version {
    width: auto;
    white-space: nowrap;
    margin-right: 7px;
}

#profile dd.version {
    width: auto;
}

#profile fieldset.profile dd, #profile fieldset.profile dt {
    line-height: 24px;
}

#profile .change-password {
    padding-bottom: 20px;
}

#login-form .forgot-password {
    margin-top: 20px;
}

/* Checkout */

#checkout .form dt.checkbox {
    width: 250px;
}

#checkout .form dd.checkbox {
    clear: both;
}

#checkout .form dd.checkbox input {
    margin-right: 7px;
}

/* Butons */

.button-grad {
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    cursor: pointer; 
    border: 1px solid #000000;
    background: #5267aa; /* Old browsers */
    background: -moz-linear-gradient(top,  #6582d2 0%, #3b4b6d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6582d2), color-stop(100%,#3b4b6d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6582d2 0%,#3b4b6d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6582d2 0%,#3b4b6d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6582d2 0%,#3b4b6d 100%); /* IE10+ */
    background: linear-gradient(top,  #6582d2 0%,#3b4b6d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6582d2', endColorstr='#3b4b6d',GradientType=0 ); /* IE6-9 */
}

.button-grad:hover {
    background: #5267aa;
}

.button-grad:active {
    background: #495d9c;
}


