
#content, #nolayout {
    font-family: Lucida Grande, sans-serif;
    color: #888;
}

#content a:link, #content a:visited, #nolayout a:link, #nolayout a:visited {
    color: #5267aa;
}

#content a:hover, #nolayout a:hover {
    color: #6d81c2;
}

.error, .errors {
    font-weight: bold;
    color: red;
}

ul.errors {
    margin-bottom: 0;
}

ul.errors li {
    margin-bottom: 5px;
    background: none;
    padding-left: 0;
}

#content {
    min-height: 380px;
}

.form {
    overflow: hidden;
    margin-bottom: 15px;
}

.form dt, .form dd {
    float: left;
    line-height: 35px;
}

.form dt {
    clear: left;
    width: 165px;
}

.form dd {
    width: 200px;
}

.form input {
    width: 180px;
    border: 1px solid #ddd;
    background: #f5f5f5;
    padding: 4px 3px;
    margin: 0;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}

fieldset, form {
    margin: 0 0 20px 0;
    padding: 0;
}

legend, h2 {
    padding-bottom: 15px;
    /*color: #505b7d !important;*/
    color: #3c466b !important;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-family: Lucida Grande, sans-serif !important;
}

h3, h4 {
    color: #3c466b !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
}

form .submit {
    margin-top: 35px;
}

.form .errors {
    margin: 0 0 5px 0;
    padding: 0;
}

.form .errors li {
    margin: 0;
    padding: 0;
    line-height: 16px;
    font-size: 11px;
    font-weight: bold;

}

.form dt.checkbox {
    width: 0;
}

.form dd.checkbox {
    width: auto;
}

.form dd.checkbox input {
    width: auto;
}

.form .note {
    color: #888;
}

.flash-message {
    font-weight: bold;
    background-color: #fdffbf;
    padding: 2px;
    display: block;
    color: #000;
}

label input {
    margin-right: 7px;
}

#nolayout {
    padding: 10px 20px;
}

#main {
    width: 1000px !important;
}

/* Misc */

.subscriptions-large, .digital-large, .dvds-large, .gifts-large {
    width: 435px;
    height: 462px;
}

.subscriptions-large {
    background: url(/images/product-types/large/subscriptions.jpg);
}

.digital-large {
    background: url(/images/product-types/large/digital.jpg);
}

.dvds-large {
    background: url(/images/product-types/large/dvds.jpg);
}

.gifts-large {
    background: url(/images/product-types/large/gifts.jpg);
}

.subscriptions-small, .digital-small, .dvds-small, .gifts-small {
    width: 90px;
    height: 96px;
}

.subscriptions-small {
    background: url(/images/product-types/small/subscriptions.jpg);
}

.digital-small {
    background: url(/images/product-types/small/digital.jpg);
}

.dvds-small {
    background: url(/images/product-types/small/dvds.jpg);
}

.gifts-small {
    background: url(/images/product-types/small/gifts.jpg);
}


/* Butons */

.button-grad, .button-grad-blue {
    border: none;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 5px; 
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap !important;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    cursor: pointer; 
    border: 1px solid #000000;
}

.button-grad {
    background: #707070; /* Old browsers */
    background: -moz-linear-gradient(top, #707070 0%, #474546 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707070), color-stop(100%,#474546)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #707070 0%,#474546 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #707070 0%,#474546 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #707070 0%,#474546 100%); /* IE10+ */
    background: linear-gradient(top, #707070 0%,#474546 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#474546',GradientType=0 ); /* IE6-9 */
}

.button-grad-blue {
    background: #5267aa; /* Old browsers */
    background: -moz-linear-gradient(top,  #6582d2 0%, #3b4b6d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6582d2), color-stop(100%,#3b4b6d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6582d2 0%,#3b4b6d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6582d2 0%,#3b4b6d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6582d2 0%,#3b4b6d 100%); /* IE10+ */
    background: linear-gradient(top,  #6582d2 0%,#3b4b6d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6582d2', endColorstr='#3b4b6d',GradientType=0 ); /* IE6-9 */
}

.button-grad:hover {
    background: #707070;
}

.button-grad:active {
    background: #959595;
}

.button-grad-blue:hover {
    background: #5267aa;
}

.button-grad-blue:active {
    background: #495d9c;
}

a.button-grad, a.button-grad-blue {
    display: block;
}

input.button-grad {

}


