.button {
    border: 0;
    color: #333;
    cursor: pointer;
    /* float: left; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0 14px 0 0;
    outline: none;
    text-align: center;
    text-decoration: none;
}

.button span {
    display: block;
    padding: 0 0 0 14px;
    position: relative;
    white-space: nowrap;
}

button:focus::-moz-focus-inner { border-color: transparent !important; }

button::-moz-focus-inner {
    border: none;
    padding: 0;
}

a.button:link, a.button:visited { color: #333; }

a.button:link span, a.button:visited span {
    display: inline;
    float: left;
}

.icon_button span { padding-left: 9px; }

.button img {
    border: 0;
    vertical-align: middle;
}

/* primary */
button.primary, a:link.primary, a:visited.primary {
    color: #000;
    font-weight: bold;
}

/* disabled */
button.disabled, a:link.disabled, a:visited.disabled {
    color: #aaa;
    cursor: default;
}

button.disabled img, a.disabled img {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

/** =ROUND BUTTON STYLES
----------------------------------------------- */
.round_button, .disabled.round_button:hover { background: url(../_img/buttons/round_normal.png) right no-repeat; }

.round_button span, .disabled.round_button:hover span {
    background: url(../_img/buttons/round_normal.png) left no-repeat;
    height: 15px;
    line-height: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.round_button:hover { background: url(../_img/buttons/round_hover.png) right no-repeat; }
.round_button:hover span { background: url(../_img/buttons/round_hover.png) left no-repeat; }
.round_button:active { background: url(../_img/buttons/round_active.png) right no-repeat; }
.round_button:active span { background: url(../_img/buttons/round_active.png) left no-repeat; }

/** =RECT BUTTON STYLES
----------------------------------------------- */
.rect_button, .disabled.rect_button:hover { background: url(../_img/buttons/rect_normal.png) right no-repeat; }

.rect_button span, .disabled.rect_button:hover span {
    background: url(../_img/buttons/rect_normal.png) left no-repeat;
    height: 14px;
    line-height: 14px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.rect_button:hover { background: url(../_img/buttons/rect_hover.png) right no-repeat; }
.rect_button:hover span { background: url(../_img/buttons/rect_hover.png) left no-repeat; }
.rect_button:active { background: url(../_img/buttons/rect_active.png) right no-repeat; }
.rect_button:active span { background: url(../_img/buttons/rect_active.png) left no-repeat; }
