
#cart .items {
    height: 230px;
    width: 550px;
    overflow: auto;
}

#cart .items, .no-items {
    margin-top: 20px;
}

#cart .items li {
    background: none;
    padding: 0;
}

#cart .items li h4 {
    font-size: 14px;
    font-weight: bold;
}
