
#cart {
    width: 650px;
}

#cart .items, .no-items {
    margin-top: 20px;
}

#cart .no-items {
    margin-bottom: 20px;
}

#cart .item {
    background: none;
    padding: 12px 0 18px 0;
    border-bottom: 1px solid #ccc;
}

#cart .item.last {
    border: none;
}

#cart .item h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

#cart .item .links {
    display: inline;
}

#cart .item .links li {
    line-height: 10px;
    display: inline;
    background: none;
    padding: 0;
    margin-right: 5px;
}

#cart .item input {
    width: 40px;
    margin: 0 10px;
}

#cart .item input.readonly {
    opacity: 0.3;

}

#nolayout #cart .items {
    /*height: 380px;*/
    width: 610px;
    overflow: auto;
    max-height:350px;
    height: auto !important;
    height: 350px;
}

#nolayout #cart .items ul {
    width: 98%;
}
