
/* Products main */

#products-main {
    position: relative;
    left: -10px;
}

#products-main section {
    position: relative;
    margin-bottom: 25px;
}

#products-main .description {
    color: #fff;
}

#products-main h3 {
    color: #fff !important;
    font-style: italic;
    font-weight: normal !important;
    font-size: 24px !important;
}

#products-main a.select {
    width: 233px;
    height: 63px;
    display: block;
    background: url(/images/sprites/buttons.png) -45px -32px no-repeat;
    text-decoration: none;
    color: #fff !important;
    text-transform: uppercase;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
}

#products-main a.select:hover {
    background-position: -320px -32px;
}

#products-main .subscriptions, #products-main .digital {
    padding: 2px 12px;
    width: 452px;
    height: 476px;
    display: block;
    float: left;
}

#products-main .subscriptions {
    margin-right: 30px;
    background: url(/images/product-types/landing/subscriptions.jpg);
}

#products-main .digital {
    background: url(/images/product-types/landing/digital.jpg);
}

#products-main .subscriptions h3, #products-main .digital h3 {
    position: absolute;
    top: 33px;
    left: 30px;
}

#products-main .subscriptions .description, #products-main .digital .description {
    position: absolute;
    top: 80px;
    left: 30px;
    width: 120px;
}

#products-main .subscriptions a.select, #products-main .digital a.select {
    position: absolute;
    bottom: -5px;
    left: 30px;
}

#products-main .dvds, #products-main .gifts {
    clear: both;
    width: 994px;
    height: 232px;
}

#products-main .dvds {
    background: url(/images/product-types/landing/dvds.jpg);
    margin-bottom: 10px;
}

#products-main .gifts {
    background: url(/images/product-types/landing/gifts.jpg);
}

#products-main .dvds h3, #products-main .gifts h3 {
    position: absolute;
    top: 44px;
    left: 30px;
}

#products-main .dvds .description, #products-main .gifts .description {
    position: absolute;
    top: 90px;
    left: 30px;
}

#products-main .dvds a.select, #products-main .gifts a.select {
    position: absolute;
    bottom: 7px;
    left: 30px;
}


/* Individual product pages */

.product-select-left, .product-select-right {
    float: left;
}

.product-select-left {
    margin-right: 25px;
    width: 450px;
}

.product-select-right {
    width: 480px;
}

.product-select-right-inner {
    margin: 0 0 25px 0;
    padding: 30px 0 0px 0;
    border-top: 2px solid #dfdfdf;
    border-bottom: 2px solid #dfdfdf;
    overflow: hidden;
}

/*
.product-select h2 {
    text-transform: none;
    font-style: italic;
    font-size: 28px !important;
    padding-bottom: 5px;
}
*/

.product-select h3 {
    font-size: 16px !important;
    padding-bottom: 5px;
}

.product-select .subscription-options {
    margin-bottom: 15px;
    overflow: hidden;
}

.product-select .subscription-options li {
    float: left;
    display: block;
    width: 140px;
    background: none;
    padding: 0;
    margin-right: 10px;
    overflow: hidden;
    padding: 0;
}

.product-select .subscription-options li a {
    width: 20px;
    margin-top: 10px;
}

.product-select .subscription-options li p {
    margin: 0 !important;
    padding: 0 !important;
}

.product-select .renew a {
    width: 120px;
}

.product-select .digital a {
    width: 150px;
}

.subscription-option-middle {
    width: 292px;
    float: left;
    margin-right: 10px;
}

.subscription-option-right {
    width: 80px;
    float: left;
    padding-top: 2px;
}

#physical .subscription-options li {
    width: auto;
    float: none;
    padding-bottom: 10px;
}

#physical .subscription-options li a {
    margin-top: 0;
}

#physical .subscription-options img {
    float: left;
    width: 68px;
    margin-right: 20px;
}



.product-select h4 {
    margin-bottom: 10px !important;
    padding: 0 !important;
    text-transform: uppercase;
}

#digital .subscription-options li {
    width: 190px;
}

#digital .buy a {
    width: 100px;
}

#digital .product-select-right-inner {
    border-bottom: none;
}

#digital .buttons li {
    float: left;
    display: block;
    width: 170px;
    background: none;
    margin: 0;
    padding: 0;
}

/* Cart */

#cart {
    width: 610px;
}

#cart .items {
    margin-bottom: 20px;
}

#cart .no-items {
    margin-bottom: 20px;
}

#cart .item {
    background: none;
    padding: 9px 0 24px 0;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    overflow: hidden;
}

#cart .item.last {
}

#cart .item h4 {
    font-size: 14px;
    color: #505b7d;
    font-weight: bold;
    margin-bottom: 0 !important;
}

#cart .item .links {
    display: inline;
}

#cart .item .links li {
    line-height: 10px;
    display: inline;
    background: none;
    padding: 0;
    margin-right: 5px;
}

#cart .item input {
    width: 40px;
    margin: 0 10px;
}

#cart .item input.readonly {
    opacity: 0.3;

}

#cart .cart-left {
    width: 70%;
    float: left;
}

#cart .cart-right {
    width: 30%;
    float: left;
    text-align: right;
}

#cart .cart-right div {
    float: right;
}

#nolayout #cart .items {
    height: 380px;
    /* Allow for scrollbar */
    width: 610px;
    overflow: auto !important;
    max-height: 350px;
    height: auto !important;
    height: 350px;
}

#nolayout #cart .items ul {
    width: 98%;
}

#cart .cart-nav li {
    background: none;
    display: inline;
    padding: 0;
}

#cart .flash-message {
    margin-bottom: 10px;
}

/* Checkout */

#checkout form {
    overflow: hidden;
    background: url(/images/checkout/form-bg.gif) -8px 0 repeat-y;
}

/*
#checkout fieldset.med {
    min-height: 210px;
}

#checkout fieldset.tall {
    min-height: 485px;
}
*/

#checkout .checkout-left, #checkout .checkout-middle, #checkout .checkout-right {
    float: left;
    padding: 10px 0;
}

#checkout .checkout-left, #checkout .checkout-middle {
    width: 370px;
    float: left;
}

#checkout .checkout-left {
    padding-right: 30px;
}

#checkout .checkout-middle {
    padding: 10px 35px;
    border-color: #ddd;
    border-style: solid;
    border-width: 0 2px;
}

#checkout .checkout-right {
    width: 140px;
    text-align: center;
    margin-left: 10px;
}

#checkout .checkout-right .cart li {
    padding: 0;
    margin: 0;
    background: 0;
}

#checkout .checkout-right .cart .product p {
    color: #3c466b;
    font-weight: bold;
    font-size: 12px;
}

#checkout .payment-method input {
    width: auto;
    margin-right: 10px;
}

#checkout .payment-method ul {
    margin-bottom: 0;
}

#checkout .payment-method li {
    background: none;
    padding: 0;
    height: auto;
    margin: 2px 0;
    line-height: 20px;
}

#checkout .cc-exp {
    line-height: 24px;
}


#checkout .cc-exp .errors {
    margin-top: 5px;
}

#checkout .cc-exp .errors li {
    line-height: 10px !important;
}

.promo-code dd {
    /*position: relative;*/
    padding-top: 7px;
}

.promo-code input {
    width: 90px;
    float: left;
}

.promo-code a {
    height: 14px;
    line-height: 14px;
    float: left;
    display: block;
    position: relative;
    margin-left: 10px;
}

.promo-code .errors, .promo-code .success {
    padding-top: 5px;
    clear: both;
}

#checkout .update {
    border-top: 2px solid #ddd;
    padding-top: 15px;
    line-height: 30px;
}

#checkout .total {
    font-size: 18px;
    color: #3c466b;
    font-weight: bold;
    margin-right: 20px;
}

#checkout .update input {
    float: right;
}

#checkout .form dt.checkbox {
    width: 250px;
}

#checkout .form dd.checkbox {
    clear: both;
}

#checkout .form dd.checkbox input {
    margin-right: 7px;
}

/* User profile */

#profile dt.version {
    width: auto;
    white-space: nowrap;
    margin-right: 7px;
}

#profile dd.version {
    width: auto;
}

#profile fieldset.profile dd, #profile fieldset.profile dt {
    line-height: 24px;
}

#profile .change-password {
    padding-bottom: 20px;
}

#profile .profile-left, #profile .profile-right {
    width: 370px;
    float: left;
    padding: 10px 0;
}

#profile .profile-left {
    padding-right: 30px;
}

#profile .profile-right {
    padding-left: 35px;
    border-left: 2px solid #ddd;
}


/* Profile stuff used in multiple places */

fieldset.profile .version {
    width: auto;
    clear: both;
}

fieldset.profile dt.version {
}

fieldset.profile dd {
    margin-bottom: 15px;
}

fieldset.profile dt.opt-in {
    clear: both;
}

fieldset.profile dd.opt-in, fieldset.profile dd.opt-in-partner {
    font-size: 12px;
}

fieldset.profile dd, fieldset.profile dt {
    line-height: 20px;
}

fieldset.profile .note {
    padding-top: 15px;
}


/* Login form */

#login-form .forgot-password {
    margin-top: 20px;
}

/* Reset pw request */

#reset-password-request p {
    margin-bottom: 10px;
}


/* Confirmation */

#confirmation {
    width: 800px;
}

#confirmation .confirmation-left {
    /*width: 800px;
    border-right: 2px solid #ddd;*/
}

#confirmation .confirmation-right {
    width: 140px;
    text-align: center;
    margin-left: 10px;
}

#confirmation .sep {
    border-top: 2px solid #ddd;
    padding: 20px 0;
    /*width: 780px;*/
    overflow: hidden;
}

#confirmation section {
    width: 320px;
    float: left;
}

#confirmation section li {
    background: none;
    padding: 0;
}

#confirmation h4 {
    margin-bottom: 10px;
}

#confirmation table {
    width: 640px;
}

#confirmation th {
    color: #3c466b !important;
    font-weight: bold !important;
    text-transform: uppercase;
    font-size: 14px !important;
    width: 320px;
    text-align: left;
    padding-bottom: 10px;
}

#confirmation td {
    padding-bottom: 10px;
}
