
body, html {
    margin: 0;
    padding: 5px 10px 20px 10px;
    font: 13px/14px Verdana, sans-serif;
}

h1 {
    font-size: 20px !important;
    text-transform: none;
}

h2 {
    font-size: 20px !important;
    text-transform: none;
    margin-top: 0;
}

fieldset {
    border: none;
}

nav {
    float: left;
    width: 180px;
    padding: 10px 0;
}

nav ul {
    margin: 0;
    padding-left: 15px;
}

nav li {
    list-style: none;
    margin-bottom: 10px !important;
}

nav li.active a {
    font-weight: bold;
}

li {
    padding: 0;
}

#content-wrap {
    min-width: 1100px;
}

#content {
    padding: 10px 0;
    float: left;
}

.admin-table {
    margin: 5px 0 15px 0;    
}

.admin-table th, .admin-table td {
    padding: 6px;
    text-align: left;
    /*white-space: nowrap;*/
    border-spacing: 5px 5px;
}

.admin-table th {
    background: #ddd;
}

.admin-table th.sort-by {
    background: #bbb;
    color: white;
}

.admin-table td {
    background: #f4f4f4;
}

.admin-table td.dollar {
    text-align: right;
}

.admin-list {
    overflow: hidden;
    margin-bottom: 20px;
}

.admin-list dt, .admin-list dd {
    float: left;
    padding: 6px;
}

.admin-list dt {
    clear: left;
    width: 150px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 2px;
    background: #eee;
}

.admin-list dd {
    width: 210px;
    margin-left: 2px;
    background: #f4f4f4;
}

.admin-list-left, .admin-list-right {
    float: left;
    width: 400px;
}

.admin-list-left {
    clear: left;
}

.admin-list-group {
    clear: left;
}

#search-form {
    width: 850px;
    padding-bottom: 15px;
}

#search-form dl {
    margin-top: 0;
}

#search-form dt, #search-form dd {
    font-size: 12px;
    margin-right: 20px;
}

#search-form dt {
    clear: none;
    width: 90px;
}

#search-form dd {
    margin-left: 0;
}

#search-form dt.search {
    clear: left;
}

#search-form .submit {
    margin-top: 0;
}

.no-data {
    padding-bottom: 25px;
}


.full-width {
    width: 788px;
}

.full-width .admin-list dd {
    width: 610px;
}

.full-width .admin-table {
    width: 788px;
}

.admin-form-left, .admin-form-right {
    width: 430px;
    float: left;
}

.admin-form dd, .admin-form dt {
    float: left;
}

.form dt {
    width: 140px;
    clear: both;
}

.form dd {
    width: 200px;
}

