
body, html {
    margin: 0;
    padding: 5px 10px 20px 10px;
    font: 13px/14px Verdana, sans-serif;
}

a:link, a:visited {
    color: #5267AA;
}

a:hover {
    color: #6D81C2;
}

h1 {
    font-size: 20px !important;
    text-transform: none;
}

h2 {
    font-size: 20px !important;
    text-transform: none;
    margin-top: 0;
}

fieldset {
    border: none;
}

nav {
    float: left;
    width: 180px;
    padding: 10px 0;
}

nav ul {
    margin: 0;
    padding-left: 15px;
}

nav li {
    list-style: none;
    margin-bottom: 10px !important;
}

nav li.active a {
    font-weight: bold;
}

nav li ul {
    margin-top: 10px;
}

/* Make sure class "active" on parent doesn't affect children */
nav li.active ul li a {
    font-weight: normal;
}

nav li.active ul li.active a {
    font-weight: bold;
}

#breadcrumbs {
    padding-bottom: 20px;
    font-weight: bold;
}

li {
    padding: 0;
}

input.checkbox {
    width: auto;
}

#content-wrap {
    width: 1100px;
}

#content {
    padding: 10px 0;
    float: left;
    width: 900px;
}

.admin-table, .admin-list {
    margin: 5px 0 15px 0;    
    border-collapse: separate;
    border-spacing: 2px;
}

.admin-table th, .admin-table td {
    padding: 6px;
    text-align: left;
    white-space: nowrap;
    margin: 5px !important;
}

.admin-table th {
    background: #ddd;
}

.admin-table th.sort-by {
    background: #bbb;
    color: white;
}

.admin-table td {
    background: #f4f4f4;
}

.admin-table td.hover {
    background: #e9e9e9;
    cursor: pointer;
}

.admin-table td.dollar {
    text-align: right;
}

.admin-list {
    overflow: hidden;
    margin-bottom: 20px;
    table-layout: fixed;
    width: 380px;
}

.admin-list td, .admin-list th {
    padding: 6px;
    text-align: left;
    white-space: nowrap;
    margin: 5px !important;

}

.admin-list td {
    background: #f4f4f4;
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    table-layout: fixed;
}


.admin-list th {
    background: #eee;
    width: 150px;
}

.admin-list-left, .admin-list-right {
    float: left;
    width: 440px;
}

.admin-list-left {
    clear: left;
}

.admin-list-group {
    clear: left;
}

#search-form {
    width: 850px;
    padding-bottom: 15px;
}

#search-form dl {
    margin-top: 0;
}

#search-form dt, #search-form dd {
    font-size: 12px;
    margin-right: 20px;
}

#search-form dt {
    clear: left;
    width: 90px;
}

#search-form dd {
    margin-left: 0;
}

#search-form dt.search {
    clear: left;
}

#search-form .submit {
    margin-top: 0;
}

#search-form .radio label {
    padding-right: 10px;
}

.no-data {
    padding-bottom: 25px;
}


.full-width {
    width: 818px;
}

/*.full-width .admin-list dd {
    width: 610px;
}*/

.full-width .admin-table {
    width: 848px;
}

.admin-form-left, .admin-form-right {
    width: 430px;
    float: left;
}

.admin-form dd, .admin-form dt {
    float: left;
}

.form dt {
    width: 140px;
    clear: both;
}

.form dd {
    width: 200px;
}

.form .radio-list ul {
    padding: 0;
    margin: 10px 0;
}

.form .radio-list li {
    list-style: none;
    line-height: 20px;
}

.table-list {
    margin: 0;
    padding: 0;
}

.table-list li {
    list-style: none;
}

.table-list li.table-list-group {
    padding: 0;
    margin: 0 3px 0 0;
    display: block;
    float: left;
    width: 250px;
}

.table-list h3 {
    margin: 0;
    padding: 6px;
    text-transform: none;
    background: #ddd;
}

.table-list li ul {
    padding: 0;
    margin: 0;
}

.table-list li li {
    padding: 6px;
    background: #f4f4f4;
    margin: 3px 0;

}

.table-list h3, .table-list li li {
    text-align: center;
}

#nolayout {
    /*width: 880px;
    height: 500px;
    overflow: auto;*/
}
