
#login-form dt {
    width: 80px;
}

#user-edit .profile dt, #order-add .profile dt {
    width: 100px;
}

#user-detail .addresses {
    overflow: hidden;
    padding-bottom: 20px;
    line-height: 18px;
}
